<div class="message-item message-item-extra<% if message.user.muted_in_room?(room) %> message-item-muted<% end %>" data-message-id="<%= message.id %>" data-user-id="<%= message.user.id %>">
  <span>
    <strong class="message-user <% if message.user == current_or_guest_user %> message-user-own<% end %>">
      <%= message.user.nickname_in_room(room) %>
    </strong>

    <% if message.user != current_or_guest_user %>
      <span class="message-actions">
        <% unless message.user.muted_in_room?(room) %>
          <%= link_to mute_user_room_path(room, user_id: message.user), method: :post do %>
            Mute <strong><%= message.user.nickname_in_room(room) %></strong> in this room
          <% end %>
        <% end %>

        <% if message.user.muted_in_room?(room) %>
          <%= link_to unmute_user_room_path(room, user_id: message.user), method: :post do %>
            Unmute <strong><%= message.user.nickname_in_room(room) %></strong> in this room
          <% end %>
        <% end %>
      </span>
    <% end %>
  </span>
  <span class="message-content"><%= message.content %></span>
</div>
