<div class="header-container">
  <div class="header-hamburger">
    <a class="mburger" href="#my-menu">
      <b></b>
      <b></b>
      <b></b>
    </a>
  </div>

  <div class="header-logo">
    <a href="/"><%= image_tag asset_path('logo.png'), alt: 'logo' %></a>
  </div>

  <nav id="my-menu">
    <ul>
      <% unless current_or_guest_user.username.include?('guest') %>
        <li class="dropdown">
          <%= link_to 'Logout', destroy_user_session_path() %>
        </li>
      <% else %>
        <li><%= link_to 'Login', user_session_path %></li>
      <% end %>
      <li><%= link_to 'Our rules', our_rules_pages_path %></li>
      <li><%= link_to 'About Us', about_us_pages_path %></li>
      <li><%= link_to 'Reach Us', reach_us_pages_path %></li>
    </ul>
  </nav>
</div>
